* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 7px;
}

body {
  font-family: 'Poppins', sans-serif;
  /*REM cinsinden tanımlamak HTML de belirtiğimi PX değeri içe çarpmak demektir.*/
  font-size: 1.6rem;
  /* Satır arası boşluk */
  line-height: 1.5;
  text-align: center;
  background-color: #333;
  color: #fff;
}
a {
  /*Link alt çizgisini kaldırmak. */
  text-decoration: none;
}
p {
  /*REM yanında belirttiğim 0 değeri sağ ve sol taraftan boşluk istemediğimdir.*/
  padding: 1.6rem 0;
}

img {
  width: 100%;
  height: auto;
}
/* Boş eleman oluşturacağız ve sonra da yok olmasını isteyeceğiz */
.BosElemanYarat::after {
  content: "";
  /*Bütün satırı kapsayacak*/
  display: block;
  clear: both;
}

header {
  height: 46rem;
}

header .bg-picture {
  position: absolute;
  background-image: url("images/bg-photo.jpg");
  background-size: cover;
  background-position: center;
  height: 46rem;
  width: 100%;
  opacity: 50%;
  z-index: -1;
}
header h1 {
  padding: 12rem;
  padding-bottom: 0;
}
.dugme {
  display: inline-block;
  background: #333;
  color: #fff;
  border: 1px solid #666;
  /*Üstten ve Alttan 16px yani 1.6 rem  | sağdan ve soldan 3.2rem yani 32px padding */
  padding: 1.6rem 3.2rem;
  margin: 0.5rem 0;
}
.dugme:hover {
  background-color: #fff;
  color: #333;
  /*Yavaş değişim için transition kullandık. All diyerekte her yerden ve 0.7 diyerekte saniye cinsinden belli ettik*/
  transition: all 0.7s;
}

#_birinciSection {
  background-color: #fff;
  color: #333;
  padding: 3.2rem 0;
}

#_ikinciSection {
  padding: 2rem;
}
#_ikinciSection ul {
  /*UL taglarının sıralama ikonlarını kapatma*/
  list-style: none;
}
#_ikinciSection li {
  background: #fff;
  color: #333;
  margin-bottom: 1.5rem;
}
#_kolonIcerik {
  padding: 1.5rem;
}

#_IkinciSection {
  background-color: #eaeaea;
  color: #333;
  padding: 5rem;
}
#_UcuncuSection .kutu {
  padding: 5rem;
}

#_UcuncuSection .kutu:first-child {
  background-color: darkslategray;
}
footer {
  padding: 4rem;
  background-color: black;
}
footer a {
  color: yellowgreen;
}

/* Mobil cihazlar için tasarım yapıldı ancak bu tasarımın TABLET ve PC içinde 
yapılması gerekli aşşağıdaki bölümde bunları yaptık.

min-width olarak gidecektir çünkü ilk mobil tasarıma göre yaptık.
*/

@media screen and (min-width: 800px) {
  html {
    font-size: 9px;
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 11px;
  }
  #_ikinciSection li {
    /* Yan yana gelebilmeleri için width % 28 olarak verdim */
    width: 28%;
    margin: 1%;
    display: inline-block;
  }

  .kutu {
    /*PC versiyonunda iki adet kutu olduğu için % 50 olarak genişliği belirttik */
    width: 50%;
    float: left;
  }
}
